export(cluster_colours)
export(diversity_summary)
export(genetic_distance)
export(nj_bootstrap)
export(pairwise_fst)
export(plot_nj)
export(plot_pcoa)
export(read_genalex_csv)
export(run_amova)
export(run_pcoa)
export(save_figure)

S3method(print, popgen_amova)
S3method(print, popgen_nj)
S3method(print, popgen_pcoa)

importFrom(ggplot2, .data)
importFrom(stats, as.dist, dist, setNames)
importFrom(utils, head)
